#Homeslide1{
    background-image: url(./Homeimg/home-slide-1.jpg);
    background-repeat: no-repeat;
    
}
#Homeslide2{
    background-image: url(./Homeimg/home-slide-2.jpg);
    background-repeat: no-repeat;
    
}
#Homeslide3{
    background-image: url(./Homeimg/home-slide-3.jpg);
    background-repeat: no-repeat;
    
}